@font-face {
    font-family: "iconfont"; /* Project id 4544343 */
    src: url('//at.alicdn.com/t/c/font_4544343_q7sn7ht5ycq.woff2?t=1715586212174') format('woff2'),
    url('//at.alicdn.com/t/c/font_4544343_q7sn7ht5ycq.woff?t=1715586212174') format('woff'),
    url('//at.alicdn.com/t/c/font_4544343_q7sn7ht5ycq.ttf?t=1715586212174') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 25px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-password:before {
    content: "\e62b";
}

.icon-username:before {
    content: "\e642";
}
