@font-face {
    font-family: "iconfont"; /* Project id 4544343 */
    src: url('//at.alicdn.com/t/c/font_4544343_la4g3r0f4jl.woff2?t=1716399419490') format('woff2'),
    url('//at.alicdn.com/t/c/font_4544343_la4g3r0f4jl.woff?t=1716399419490') format('woff'),
    url('//at.alicdn.com/t/c/font_4544343_la4g3r0f4jl.ttf?t=1716399419490') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-send:before {
    content: "\e6d5";
}

.icon-password:before {
    content: "\e62b";
}

.icon-username:before {
    content: "\e642";
}
